2.https_connector/src/main/mule/2.https_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="uriparam" doc:id="c6ed37bc-fc2d-419f-af70-a64adc716a53" >
		<http:listener doc:name="URI Params" doc:id="7d5dd9f8-d92b-45a2-99b9-0a2fd2c9cd04" config-ref="HTTP_Listener_config" path="/uriparams/{ID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log Active" doc:id="88477edd-413f-496b-9621-84c3d3e78f09" message='#["Log Active " ++ flow.name]' />
		<set-payload value='#[attributes.uriParams."ID" + "Message from Payload"]' doc:name="Set Payload" doc:id="8999c4fa-52ae-4798-b734-395e4c44372e" />
	</flow>
	<flow name="Queryparams" doc:id="d608d169-64f3-4bfd-a2f6-5a8be33a285b" >
		<http:listener doc:name="QueryParamListener" doc:id="3fe84d46-20cd-4a55-aac7-0601e95927f2" config-ref="HTTP_Listener_config" path="/queryParams" allowedMethods="GET"/>
		<logger level="INFO" doc:name="QueryParamLogger" doc:id="15e6769b-bf10-4c14-b3e0-b2cd86d2ea62" message='#[flow.name ++ "Log Started"]'/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;attributes.queryParams]' doc:name="Set Payload" doc:id="3d1314df-73d5-4745-9ba3-5116b7f94dd7" />
	</flow>
	<flow name="Basic" doc:id="bc00ec47-ae6a-4d8b-91be-2efad11a32b1" >
		<http:listener doc:name="Http Get " doc:id="9a77e1f3-b2db-41db-b072-4a6e639f3b8f" config-ref="HTTP_Listener_config" path="/basics/*" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="df7b79e3-9eac-44b5-ad2f-416407b1c4ad" message='#["Log Active: " ++ flow.name]'/>
		<set-payload value='#["this is basic http flow"]' doc:name="Set Payload" doc:id="0105a3a5-fa52-430f-9887-d97897794d04" />
		<set-variable value='#[{&#10;	"param1": "K1",&#10;	"param2": "K2"&#10;}]' doc:name="Set Query Params" doc:id="b0787bdd-35d6-4583-8a43-ae2b8ab61510" variableName="customMap"/>
		<http:request method="GET" doc:name="Request" doc:id="f68ef3e1-2a23-453e-8e32-4274caacc565" path="/queryParams" target="requestResponse" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
vars.customMap]]]></http:query-params>
		</http:request>
	</flow>
</mule>
